.post {
    padding: 20px 0;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}

.comments-container {
    display: none;
}

.add-comment {
    background-color: #FF3A4E;

}

.remove-comment{
    background-color: #FF3A4E;
}
.remove-post{
    background-color: #FF3A4E;

}
.rating-star{
    font-size:24px
}

.fa-star{
    color: #00878B
}
#addpost {
    background-color: #FF3A4E;
    border: none
}
