.post {
    padding: 20px 0;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}

.comments-container {
    display: none;
}
#addpost {
    background-color: #EC4C52;
    border: none
}

.rating-star{
    font-size:24px
}
